body{

    font-family: 'Montserrat', sans-serif;
    text-align: center !important;

  /*  font-family: 'Ubuntu', sans-serif;*/
    
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
p {
    color: #8f8f8f;
}
/* CONTAINERS */

.container-fluid {
    padding: 7% 15% !important;
    
}
/* SECTIONS */
.colored-section{
    background-color:#a3d2ca;
    color: #fff;
}
.white-section{
    background-color: #fff !important;
}
/* headings */
.big-heading{
    font-family: 'Montserrat', sans-serif !important;
    line-height: 1.5;
    size: 4.5rem !important;
    font-weight: 900 !important;

}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem !important;   
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem !important;
}
.nav-item{
    padding: 0 16px;
}
.nav-link{
    font-family: "Montserrat-light";
    font-size: 1.2rem;
}
/* title section */
#title{
    
    text-align: left;
}
#title .container-fluid{
    padding: 3% 15% 7% !important;
}

/* Download Buttons */
.Download-burron{
    margin: 5% 3% 5% 0;
}
/* Title Image */
.title-image{
    width: 60% !important;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;

}
/* Feature */
#features{
    
    position: relative;
    
}
.feature-box{
    padding: 4.5%;
}
.fa-3x{
    margin-bottom: 20px !important;
    color: #a3d2ca;
}
.fa-3x:hover{
    color: #7cdaca;
}
.feature-title{
    font-weight: 700;
}
 
/* testimonials */
.testimonial-image{
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
 .testimonial-text{
     font-size: 3rem;
     line-height: 1.5;
 }
/* press section */
#press{
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
/* Pricing section */
#pricing{
    padding: 100px;
}
.pricing-colum{
    margin-top: 3%;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

 /* Footer section */
.social-icon{
    padding: 20px 10px;
}

@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        transform: rotate(0);
        position: static;
    }
}

